.App {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App section {
  height: 600px;
  width: 290px;
  border: 3px solid black;
  margin: 50px auto;
  border-radius: 50px;
  background-color: #2f2f2f;
  color: white;
}
.App section #notch {
  background-color: #000;
  height: 27px;
  margin: 0 auto;
  width: 150px;
  border-radius: 0 0 23px 23px;
}
.App section h1 {
  font-size: 1rem;
  color: #FFCB74;
}
.App section p {
  font-size: 12px;
}
.App section div {
  text-align: left;
  padding-left: 10px;
}
.App section div h2 {
  font-size: 14px;
  margin-top: 25px;
}
.App section div h3 {
  font-size: 40px;
  margin-top: 0;
  color: #FFCB74;
}
.App section div input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 200px;
}
.App section div button {
  padding: 5px;
  color: #000;
  background-color: #FFCB74;
  border: none;
  margin: 5px 0;
  border-radius: 4px;
}
.App section div button:nth-of-type(2) {
  margin-left: 8px;
}
.App #app-bar {
  background-color: #000000;
  height: 60px;
  padding-left: 0;
  margin-top: 248px;
  border-radius: 0 0 47px 47px;
  display: flex;
  justify-content: space-evenly;
}
.App #app-bar span {
  margin-top: 10px;
  color: white;
  width: 40px;
  height: 40px;
}
.App #app-bar span:nth-of-type(3) {
  margin-right: 20px;
}


